# Save as: azure.env

# if you want to use a different location than eastus, you can change this
AZURE_LOCATION="eastus"

# fill in your Azure subscription ID
AZURE_SUBSCRIPTION_ID="..."

# pick an appropriate name for the function app
AZURE_FUNCTION_APP_NAME="teams-secret-scanning-notifier"

# pick an appropriate name for a new resource group
AZURE_RESOURCE_GROUP="${AZURE_FUNCTION_APP_NAME}-rg"

# optionally pick an appropriate name for a new storage account - lowercase letters and numbers only, 3-24 characters
# a default is used in the script if you don't set this, but it may clash with other storage accounts, especially if you have already used this script in the same subscription
# AZURE_STORAGE_ACCOUNT="..."